/* --- Reset--- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fdf7ee;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  background-color: #fff7ec;
}

@media (max-width: 600px) {
  body {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
/* --- Header og menu --- */
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fef5e6;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 50px;
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.menu a {
  display: block;
  padding: 10px;
  color: rgb(170, 0, 0);
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #ff0000;
}

/* --- Mobile styles --- */
@media screen and (max-width: 800px) {
  .menu {
    flex-direction: column;
    gap: 5px;
  }

  .menu a {
    text-align: left;
    padding: 5px 10px;
    font-size: 0.9rem;
  }

  .intro,
  .statistik {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .intro .text,
  .statistik .liste {
    padding: 0;
  }

  #knap {
    width: auto;
    margin: 20px auto;
  }
}
/* -------------------------------------------- Index - side 1 ------------------------------------------------------- */

/* -------------------------------------------- Min computer - side 2 ------------------------------------------------ */

/* -------------------------------------------- Operativsystem - side 3 ---------------------------------------------- */

/* alt teksten*/
p {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  margin-bottom: 10px;
  line-height: 1.6;
}
h1 {
  font-family: "Lora", serif;
  color: rgb(170, 0, 0);
  font-size: 2rem;
}

h2 {
  font-family: "Rokkitt", serif;
  color: rgb(170, 0, 0);
  text-align: center;
  margin-bottom: 10px;
}

h3 {
  font-family: "Rokkitt", serif;
  color: rgb(170, 0, 0);
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* alle billederne*/
img {
  width: 100%;
  height: auto;
}

/* knappen/linket på index siden*/

#knap {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  background-color: #0073e6;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  width: 300px;
  transition: background 0.3s;
  margin-bottom: 20px;
}

#knap:hover {
  background-color: #005bb5;
}

#pil {
  margin-left: 10px;
  font-size: 18px;
}

/* footer*/
footer {
  background-color: rgb(170, 0, 0);
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 10px 0;
  color: #fdf7ee;
  position: relative;
}
